<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Create on 2017-6-11 上午8:29
  ~ FileName: AndroidManifest.xml
  ~ Author: Ren Yaowei
  ~ Blog: http://www.renyaowei.top
  ~ Email renyaowei@foxmail.com
  -->

<!--
  ~ Create on 2017-6-8 上午11:36
  ~ FileName: AndroidManifest.xml
  ~ Author: Ren Yaowei
  ~ Blog: http://www.renyaowei.top
  ~ Email renyaowei@foxmail.com
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryw.huidaim">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.MainActivity">

        </activity>
        <activity
            android:name=".activitys.SplashActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.LoginActivity" />
        <activity android:name=".activitys.ChatActivity" />

        <service android:name=".service.IMService" />

        <provider
            android:authorities="com.ryw.huidaim.provider.ContactProvider"
            android:name=".provider.ContactProvider" />
        <provider
            android:authorities="com.ryw.huidaim.provider.SmsProvider"
            android:name=".provider.SmsProvider" />
    </application>

</manifest>